services:

  backend:
    build: ./backend
    restart: unless-stopped
    expose:
      - "5000"
    env_file:
      - ./backend/.env.docker
    deploy:
      replicas: 3
    networks:
      - appnet
      - esnet

  frontend:
    build: ./frontend
    container_name: frontend_container
    restart: unless-stopped
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env.docker
    depends_on:
      - backend
    networks:
      - appnet

  frontend_admin:
    build: ./frontend_admin
    container_name: admin_container
    restart: unless-stopped
    ports:
      - "5174:5174"
    env_file:
      - ./frontend/.env.docker
    depends_on:
      - backend
    networks:
      - appnet

  nginx:
    image: nginx:1.27
    container_name: nginx_container
    depends_on:
      - backend
    ports:
      - "5000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - appnet

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch_container
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - esnet
    restart: unless-stopped

  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.0
    container_name: kibana_container
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - esnet
    restart: unless-stopped

volumes:
  esdata:

networks:
  appnet: {}
  esnet: {}
