services:
  backend:
    build: ./backend
    restart: unless-stopped
    expose:
      - "5000"
    env_file:
      - ./backend/.env.docker
    deploy:
      replicas: 3

  frontend:
    build: ./frontend
    container_name: frontend_container
    restart: unless-stopped
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env.docker
    depends_on:
      - backend

  frontend_admin:
    build: ./frontend_admin
    container_name: admin_container
    restart: unless-stopped
    env_file:
      - ./frontend/.env.docker
    ports:
      - "5174:5174"
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx_container
    depends_on:
      - backend
    ports:
      - "5000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro